<%- include('../shared/header') %>
<h2>Nouvelle catégorie</h2>
<form action="/categories" method="post" class="card">
  <label>Nom <input name="name" required></label>
  <button>Créer</button>
</form>
<%- include('../shared/footer') %>
