openapi: 3.1.0
info:
  title: Starter TP API 
  version: "0.1.0"
servers:
  - url: http://localhost:3000/api
tags:
  - name: Categories
  - name: Users
  - name: Tags
  - name: Items
paths:
  /categories:
    get:
      summary: Liste des catégories
      tags: [Categories]
      responses:
        "200": { description: OK }
    post:
      summary: Crée une catégorie
      tags: [Categories]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: { name: { type: string } }
              required: [name]
      responses:
        "201": { description: Créé }
  /categories/{id}:
    get:
      summary: Détail d'une catégorie
      tags: [Categories]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        "200": { description: OK }
        "404": { description: Not found }
    put:
      summary: Met à jour une catégorie
      tags: [Categories]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: { name: { type: string } }
      responses:
        "200": { description: OK }
    delete:
      summary: Supprime une catégorie
      tags: [Categories]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        "204": { description: Deleted }
  /users:
    get:
        summary: Liste des utilisateurs
        tags: [Users]
        responses:
          "200": { description: OK }
    post:
      summary: Crée un utilisateur
      tags: [Users]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: { name: { type: string }, email : {type: string} }
              required: [name]
      responses:
        "201": { description: Créé }
  /users/{id}:
    get:
      summary: Détail d'un utilisateur
      tags: [Users]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        "200": { description: OK }
        "404": { description: Not found }
    put:
      summary: Met à jour un utilisateur
      tags: [Users]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: { name: { type: string } }
      responses:
        "200": { description: OK }
    delete:
      summary: Supprime un utilisateur
      tags: [Users]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        "204": { description: Deleted }
  /tags:
    get:
        summary: Liste des tags
        tags: [Tags]
        responses:
          "200": { description: OK }
    post:
      summary: Crée un tag
      tags: [Tags]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: { name: { type: string } }
              required: [name]
      responses:
        "201": { description: Créé }
  /tags/{id}:
    get:
      summary: Détail d'un tag
      tags: [Tags]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        "200": { description: OK }
        "404": { description: Not found }
    put:
      summary: Met à jour un tag
      tags: [Tags]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: { name: { type: string } }
      responses:
        "200": { description: OK }
    delete:
      summary: Supprime un tag
      tags: [Tags]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        "204": { description: Deleted }
  /items:
    get:
      summary: Liste des items
      tags: [Items]
      responses:
        "200": { description: OK }
    post:
      summary: Crée un item
      tags: [Items]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: { title: { type: string }, description: { type: string }, status: { type: string, enum: ['DRAFT','ACTIVE','ARCHIVED']}, user_id: { type: integer }  , category_id: { type: integer } }
              required: [title]
      responses:
        "201": { description: Créé }
  /items/{id}:
    get:
      summary: Détail d'un item
      tags: [Items]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        "200": { description: OK }
        "404": { description: Not found }
    put:
      summary: Met à jour un item
      tags: [Items]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: { title: { type: string }, description: { type: string }, status: { type: string, enum: ['DRAFT','ACTIVE','ARCHIVED']}, user_id: { type: integer }  , category_id: { type: integer } }
      responses:
        "200": { description: OK }
    delete:
      summary: Supprime un item
      tags: [Items]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        "204": { description: Deleted }
        